.menu-item {
    margin-right: 30px;
    transition: 0.25s;
    position: relative;
    cursor: pointer;
  }
  
  .menu-item:hover {
    color: rgb(255, 140, 0);
  }
  
  .menu-sub-items {
    color: white;
    background-color: black;
    position: absolute;
    top: 100%;
    z-index: 10;
  }
  .menu-sub-items > div {
    width: 200px;
    margin-left: 13px;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
  }
  .menu-sub-items > div:hover {
    background-color: orange;
  }
  
  .menu-sub-items {
    display: none;
  }
  .menu-sub-items.show,
  .menu-sub-items:hover {
    display: block;
  }