.card {
    width: 90%;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 50px;
    margin-left: 60px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 35px;
}

.photo1 {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.photo1:hover {
    opacity: .8;
    transition: 0.5s ;
}
.photo1:not(:hover) {
    opacity: 1;
    transition: 0.5s ;
}


h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

p {
    max-width: 90%;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 400;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 30px;

}
span {
    text-decoration: underline;
    padding-left: 6px;
}

span:hover {
    color: black;
    cursor: pointer;
}

.date {
    font-size: 10px;
}

.travel:hover {
    color: black;
    cursor: pointer;
    transition: 1s;
}

.travel {
    text-transform: uppercase;
}

.card-header{
    width: 90%;
    font-size: 27px;
    color: #333;
}

.card-text {
    width: 100%;
    font-size: 14px;
    color: #333;
    font-weight: 500;

    line-height: 20px;
}

.bigblock{
    width: 100%;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.grayblock{
    width: 4px;
    height: 70px;
    background-color: #848484;
    margin-left: 30px;
}

.sub-block{
    color: #333;
}

.inner-list{
    margin-left: 50px;
    font-size: 15px;
}
.listItem2{
    margin-left: 50px;
    list-style-type: none;
    line-height: 20px;
    font-size: 15px;
}