.sidebar {
    width: 28vw;
    padding-left: 4vw;
    padding-top: 6vh;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    border-right: solid 1px rgb(226, 225, 225);
}
.milton {
    font-size: 4vh;
    padding-top: 1vh;
}
.milton:hover {
    cursor : pointer;
}
hr {
    width: 7vw;
    background-color: grey ;
    margin-left: 0;
}
.text {
    color: gray;
    font-size: 1.6vh;
    width: 70%;
    font-weight: 400;
}
.pages {
    font-size: 1.6vh;
    font-weight: 700;
    color: gray;
}
.pages > div {
    margin-bottom: 1.7vh;
}
.pages > div:hover{
    color: #333;
    cursor : pointer;
    transition: 1s;
    
}

.milton , hr , .text , .pages , .socials{
    margin-bottom:  3.2vh;
}

.socials {
    display: flex;
}

.socials > img {
    width: 1.6vw;
    padding-right: 0.35vw;
}


.socials > img:hover {
    fill: black;
    cursor : pointer;
}

a{
    color: grey;
}
a:hover{
    color: #333;
    transition: 0.5s;
}